<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кредит одобрен!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <h1 class="decline-header">Одобрено</h1>
        <img src="ОДОБРЕНО!!!_безфона.svg" class="status-image">
        <p class="user-message">
            {{ user_first_name }}, поздравляем вас! Вам одобрили вашу заявку на получение кредита. Перейдите в Придумать что дальше делать с типом.
        </p>
        <div class="visit-less">Заходите к нам меньше!!!</div>
    </div>
</body>
</html>
